<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Co-authored by Mac Goodwin, Nicki Ridsdale, Greta Thunberg, Sam West">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <title>Cookie Crumbs</title>
        
        
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'getcookies/style.css' %}">
    </head>
    
    <body>
        <div class="banner">
            {% load static %}
            <img src="{% static 'images/banner.png' %}">
        </div>
        <!-- ~~~~~ Nav Bar ~~~~~ -->
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="./index.html" title="Link to site home page">Home</a></li>
                <li><a href="./currentCookies.html" title="">Current Cookies</a></li>
            </ul>
        </nav>
        
        <div class="center">
            <form>
                <div class="form-group row">
                    <label for="find" class="col-sm-1">Find Cookies</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="find" placeholder="Add URL...">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
        
    </body>
</html>